<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Github Profile</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink='/goals' routerLinkActive='active'>Users</a></li>
        <li><a routerLink='/about' routerLinkActive='active'>Repositories</a></li>

      </ul>

    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
<h1>GITHUB SEARCH</h1>

</div>
<img src="github-mark.png"/>


<div class="container">
  <div class="row">
    <div class="col-md-12">
<dl>
  <dt><img src="./assets/june1.jpg"width="200px" alt="me"/></dt>
  <dt>Name:</dt>
  <dd>June Muoti</dd>
  <dt>Bio</dt>
  <dd>I am a web developer and a huge tech enthusiast</dd>
</dl>

</div>
</div>
</div>
<app-github></app-github>
