<div *ngIf ="profile" >
  <div class ="panel panel-default">
    <div class="panel-heading">
      My name is {{profile.name}} and I live in <small>{{profile.location}}</small>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-3">
      <img src="{{profile.avatar_url}}"class="img-circle img-responsive" alt ="">
</div>
<div class="col-sm-5">
  <ul class="list-group">
    <li class="list-group-item" *ngIf="profile.bio">Bio:{{profile.bio}} </li>
    <li class="list-group-item" *ngIf="profile.created_at">Created at:{{profile.created_at}} </li>
    <li class="list-group-item" *ngIf="profile.public_repos">Number of repos:{{profile.public_repos}} </li>
    <li class="list-group-item" *ngIf="profile.repos_url">Repos can be found at:<a href="click this link:{{profile.repos_url}}">{{profile.repos_url}}</a> </li>

  </ul>
</div>
<div class="col-sm-4">
  <p>
<span class="label label default">{{profile.followers}} Followers</span>
<span class="label label default">{{profile.followers}} FOllowers</span>
<span class="label label default">{{profile.followers}} FOllowers</span>
<span class="label label default">{{profile.followers}} FOllowers</span>

  </p>
</div>
</div>
</div>
</div>
